# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env

langgraphenv/